@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Vendas CC5M</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="">Leia Mais &raquo;</a></p>
    </div>
</div>

<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
<form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
    <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
    <input type="hidden" name="itemCode" value="EA0F760E8484A1D334210FAB8D5791F7" />
    <input type="hidden" name="iot" value="button" />
    <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
</form>
<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
      //  EsconderMenu();
    });

    EsconderMenu = function () {
        $("#corpo_geral").css("display", "none");
    }

    Logar = function () {
        login = $("#usuario").val();
        senha = $("#senha").val();
        console.log(login + " " + senha);
        $.post(UrlLogar, { login, senha }, function (res) {
            console.log(res);
            if (res.Data != true) {
                $("#msg_erro").css("display", "");
            } else {
                window.location = res.ContentType;
            }
        });
    }


</script>
