@{
    ViewBag.Title = "Login";
}

<script>
    UrlLogar = '@Url.Action("Logar", "Home")';
</script>

<html>
<head>
    <meta charset="utf-8">
    <!-- Tell the browser to be responsive to screen width -->
    @*<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">*@
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">*@
    <!-- Ionicons -->
    @*<link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">*@
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    @*<link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">*@


    <link rel="stylesheet" href="~/Content/index.css">
</head>
<body id="corpo" class="hold-transition login-page fundo">
    <div class="hold-transition login-page"></div>
        <div class="login-box" style="z-index: 1">
        
            <div class="login-logo" style="color:#ffffff">
                <b>Study</b>Space
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg" style="font-size: 35px">Entrar</p>

                <form method="post">
                    <div class="form-group has-feedback">

                        <input type="text" class="form-control" placeholder="Usuário" id="usuario">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>

                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Senha" id="senha">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck-helper">
                                <label>
                                    <input type="checkbox"> Lembrar-me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button class="btn btn-primary btn-block btn-flat" onclick="Logar()">Entrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <!-- <div class="social-auth-links text-center">
        <p>- OU -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
            <i class="fa fa-facebook"></i> Sign in using
            Facebook
        </a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat">
            <i class="fa fa-google-plus"></i> Sign in using
            Google+
        </a>
    </div>
       -->
                <!-- /.social-auth-links -->

                <a href="#">Esqueci minha senha</a><br>
                <a @Html.ActionLink("Quero me registrar", "Cadastro", "Home")</a>
            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
        <!-- jQuery 3 -->
        @*<script src="../../bower_components/jquery/dist/jquery.min.js"></script>*@
        <!-- Bootstrap 3.3.7 -->
        @*<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
        <!-- iCheck -->
        @*<script src="../../plugins/iCheck/icheck.min.js"></script>*@
        <script>
            //$(function () {
            //    $('input').iCheck({
            //        checkboxClass: 'icheckbox_square-blue',
            //        radioClass: 'iradio_square-blue',
            //        increaseArea: '20%' /* optional */
            //    });
            //});
        </script>
    
</body>
</html>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        EsconderMenu();
        $("#botoes_top").css("display", "none");

    });

    EsconderMenu = function () {
        $("#corpo_geral").css("display", "none");
    }

    Logar = function () {
        login = $("#usuario").val();
        senha = $("#senha").val();
        console.log(login + " " + senha);
        $.post(UrlLogar, { login, senha }, function (res) {
            if (res.Data != true) {
                $("#msg_erro").css("display", "");
            } else {
                window.location = res.ContentType;
            }
        });
    }



</script>


