@{
    ViewBag.Title = "Home Page";
}



<script src="~/Scripts/jquery-3.3.1.js"></script>



<script>
    UrlSalvar = '@Url.Action("Salvar", "Cadastro")';
</script>




<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">

  
    <link rel="stylesheet" href="~/Content/index.css">

    <style>
        #select {
            display: none !important;
        }
    </style>

</head>
<body id="corpo" class="hold-transition login-page fundo">
    <div class="hold-transition login-page"></div>
    <div class="login-box" style="z-index: 1; padding: 0px !important; margin: auto !important; margin-top: 3% !important">

        <div class="login-logo" style="color:#ffffff">
            <b>Study</b>Space
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg" style="font-size: 35px">Cadastro</p>

            <form method="post">
                <div class="form-group has-feedback">

                    <input type="text" class="form-control" placeholder="Usuário" id="usuario">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>

                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Senha" id="senha">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Nome Completo" id="nome">
                    <span class="glyphicon glyphicon-text-color form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <input type="date" class="form-control" placeholder="Data de Nascimento" id="data">
                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="E-mail" id="email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>


                <div class="form-group has-feedback">
                    @Html.Label("Curso")
                    <select id="select" class="selectpicker form-control">
                        <option value="1">Administração</option>
                        <option value="2">Arquitetura</option>
                        <option value="4">Artes Cênicas</option>
                        <option value="8">Ciência da Computação</option>
                        <option value="16">Ciências Biológicas</option>
                        <option value="32">Ciências Contábeis</option>
                        <option value="64">Comunicação Social</option>
                        <option value="128">Design de Moda</option>
                        <option value="256">Design de Produto</option>
                        <option value="512">Direito</option>
                        <option value="1024">Distribuição e Logística</option>
                        <option value="2048">Educação Física</option>
                        <option value="4096">Enfermagem</option>
                        <option value="8192">Engenharia</option>
                        <option value="16384">Estética e Cosmética</option>
                        <option value="32768">Farmácia</option>
                        <option value="65536">Fisioterapia</option>
                        <option value="131072">Fonoaudiologia</option>
                        <option value="262144">Fotografia</option>
                        <option value="524288">Gastronomia</option>
                        <option value="1048576">Gestão de Agronegócio</option>
                        <option value="2097152">Gestão Portuária</option>
                        <option value="4194304">Jornalismo</option>
                        <option value="8388608">Marketing</option>
                        <option value="16777216">Medicina</option>
                        <option value="33554432">Medicina Veterinária</option>
                        <option value="67108864">Nutrição</option>
                        <option value="134217728">Odontologia</option>
                        <option value="268435456">Pedagogia</option>
                        <option value="536870912">Psicologia</option>
                        <option value="1073741824">Publicidade</option>
                        <option value="2147483648">Relações Internacionais</option>
                        <option value="4294967296">Sistemas de Informação</option>
                        <option value="8589934592">Outros</option>
                    </select>
                    <span class="glyphicon glyphicon-education form-control-feedback"></span>

                </div>


                <div class="form-group has-feedback">
                    @Html.Label("Área de Interesse")
                    <select id="select_area" class="selectpicker form-control" multiple>
                        <option value="1">Administração</option>
                        <option value="2">Arquitetura</option>
                        <option value="4">Artes Cênicas</option>
                        <option value="8">Ciência da Computação</option>
                        <option value="16">Ciências Biológicas</option>
                        <option value="32">Ciências Contábeis</option>
                        <option value="64">Comunicação Social</option>
                        <option value="128">Design de Moda</option>
                        <option value="256">Design de Produto</option>
                        <option value="512">Direito</option>
                        <option value="1024">Distribuição e Logística</option>
                        <option value="2048">Educação Física</option>
                        <option value="4096">Enfermagem</option>
                        <option value="8192">Engenharia</option>
                        <option value="16384">Estética e Cosmética</option>
                        <option value="32768">Farmácia</option>
                        <option value="65536">Fisioterapia</option>
                        <option value="131072">Fonoaudiologia</option>
                        <option value="262144">Fotografia</option>
                        <option value="524288">Gastronomia</option>
                        <option value="1048576">Gestão de Agronegócio</option>
                        <option value="2097152">Gestão Portuária</option>
                        <option value="4194304">Jornalismo</option>
                        <option value="8388608">Marketing</option>
                        <option value="16777216">Medicina</option>
                        <option value="33554432">Medicina Veterinária</option>
                        <option value="67108864">Nutrição</option>
                        <option value="134217728">Odontologia</option>
                        <option value="268435456">Pedagogia</option>
                        <option value="536870912">Psicologia</option>
                        <option value="1073741824">Publicidade</option>
                        <option value="2147483648">Relações Internacionais</option>
                        <option value="4294967296">Sistemas de Informação</option>
                        <option value="8589934592">Outros</option>
                    </select>
                    <span class="glyphicon glyphicon-education form-control-feedback"></span>

                </div>


                <div class="row">
                    <!-- /.col -->
                    <center>
                        <button class="btn btn-primary btn-block btn-flat" data-target="#exampleModalCenter" data-toggle="modal" onclick="Salvar()">Salvar</button>
                        <a class="btn btn-primary btn-block btn-flat" @Html.ActionLink("Voltar", "Index", "Home")</a>

                    </center>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    @*<script src="../../bower_components/jquery/dist/jquery.min.js"></script>*@
    <!-- Bootstrap 3.3.7 -->
    @*<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <!-- iCheck -->
    @*<script src="../../plugins/iCheck/icheck.min.js"></script>*@
    <!-- Button trigger modal -->

    <script>

        $(document).ready(function () {
            $("#botoes_top").css("display", "none");

        });

        Salvar = function () {
            usuario = $("#usuario").val();
            senha = $("#senha").val();
            nome = $("#nome").val();
            data = $("#data").val();
            email = $("#email").val();
            curso = $("#select").val();
            area = $("#select_area").val();
            $.post(UrlSalvar, { usuario, senha, nome, data, email, curso, area }, function (res) {
                if (res.data != true) {
                    //$("#msg_erro").css("display", "");
                } else {
                    window.location = res.contenttype;
                }
            });
        }
    </script>


</body>
</html>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style=" position: absolute; margin-left: -16%; margin-top: 8%; opacity: 0.8;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Usuario cadastrado com sucesso, efetue o Login.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>